# Dependencies
node_modules/

# Cypress
cypress/screenshots/
cypress/videos/
cypress/downloads/

# IDE
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Test artifacts
cypress/fixtures/unique-test.txt

